-
  const SITE_TITLE = 'Руфсистем';
  const SITE_DESCRIPTION = `Сайт компании ${SITE_TITLE}`;
  const PAGES = {
    index: 'Главная',
    about: 'О компании',
    gallery: 'Галерея',
    price: 'Цены',
    contacts: 'Контакты',
  };
  const FORM_DEFAULT_ACTION = 'https://echo.htmlacademy.ru';
