/* Colors */

$color-coral: #ff5959;
$color-gray-air: #dbdbdb;
$color-gray-background: #f6f6f6;
$color-gray-dark: #3c3636;
$color-gray-light: #b0adad;
$color-gray-medium: #999999;
$color-gray-text-basis: #6c6767;
