mixin titlebar__links()
  -
    const getTitlebarItems = function getDatasetForTitlebarItems() {
      const toAbout = ['about', 'Читать о компании'];
      const toGallery = ['gallery', 'Посмотреть галерею'];
      const toPrice = ['price', 'Узнать цены'];
      let set;
      if (['index', 'about', 'contacts'].includes(pageId)) {
        set = [toPrice, toGallery];
      } else if (pageId === 'gallery') {
        set = [toPrice, toAbout];
      } else {
        set = [toGallery, toAbout];
      }
      return set;
    };
  .titlebar__links
    each item in getTitlebarItems()
      - const [modifier, legend] = item;
      a(
        class=setModifiers('titlebar__link', [modifier]),
        href=`${modifier}.html`,
      )= legend
