.titlebar__lead {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: $gray-dark;

  .titlebar--inner & {
    margin-bottom: 24px;
  }

  @media (min-width: $xl-min-width) {
    @include large-text();
    text-align: left;

    .titlebar--inner & {
      margin-bottom: 64px;
    }
  }
}
