-
  const _PRICE_UNIT = 'руб/м²';
  const _PRICE_ITEMS = [
    [
      'Конструкция пирога кровли',
      [
        ['Монтаж стропильной системы', 750],
        ['Монтаж паро, гидроизоляционной пленки', 200],
        ['Монтаж обрешетки', 200],
        ['Утепление 200 мм', 300],
        ['Монтаж фанеры (ОСП)', 300],
      ],
    ],
    [
      'Кровельное покрытие',
      [
        ['Монтаж фальцевой кровли', 800],
        ['Монтаж металлочерепицы', 600],
        ['Монтаж черепицы (керамическая, бетонная)', 900],
        ['Монтаж битумной черепицы', 700],
      ],
    ],
    [
      'Плоские кровли',
      [
        ['Монтаж наплавляемой гидроизоляции', 150],
        ['Монтаж ПВХ мембраны', 300],
        ['Монтаж гидроизроляции Resitrix', 350],
      ],
    ],
  ];
