.price__string {
  &--colored {
    color: $color-coral;
  }

  &--small {
    font-size: 16px;
    color: $color-gray-light;
  }

  @include media-breakpoint-up(sm) {
    &--small {
      font-size: 18px;
    }
  }

  @include media-breakpoint-up(xl) {
    &--small {
      font-size: 24px;
    }
  }
}
