#{$this}__list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-top: 2px solid $color-coral;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
