mixin paginator()
  -
    const getPaginatorLinks = function getDatasetForPaginatorLinks() {
      const toAbout = ['about', 'Читать о компании'];
      const toGallery = ['gallery', 'Посмотреть галерею'];
      const toPrice = ['price', 'Узнать цены'];
      let set = [];
      if (pageId === 'gallery') {
        set = [toPrice, toAbout];
      } else if (pageId === 'price') {
        set = [toGallery, toAbout];
      } else {
        set = [toPrice, toGallery];
      }
      return set;
    };
  .paginator(class=[
    ['index', 'gallery', 'price'].includes(pageId) ? 'paginator--narrow-xl' : null,
    pageId === 'index' ? 'paginator--index' : null,
  ])
    each item, i in getPaginatorLinks()
      - const [modifier, legend] = item;
      a(
        class=setModifiers('paginator__link', [modifier, i + 1]),
        href=`${modifier}.html`,
      )= legend
