.page-footer__nest {
  &--copyright {
    margin-bottom: 8px;
  }

  @include media-breakpoint-up(md) {
    display: flex;

    &--copyright {
      margin-bottom: 0;
    }

    &--creator {
      justify-content: flex-end;
    }
  }

  @include media-breakpoint-up(xxl) {
    display: block;
  }
}
