.page-footer.container
  .s-container.page-footer__container.row
    div(class=setModifiers('page-footer__nest', ['copyright'])).col-12.col-md-6
      .page-footer__inner-wrapper
        p.page-footer__paragraph © 2018 Roofsystem. Все права защищены.
    div(class=setModifiers('page-footer__nest', ['creator'])).col-12.col-md-6
      .page-footer__inner-wrapper
        a.page-footer__link(href='https://www.waytostart.ru/')
          p.page-footer__paragraph
            | Создание сайта #[span.page-footer__string WayToStart]
