-
  const _ITEMS = [
    [
      'Скатная кровля',
      [
        'Сланцевая кровля',
        'Металлочерепица',
        'Натуральная',
        'Битумная',
        'Фальцевая',
        'Фальцевая медная',
      ],
    ],
    [
      'Плоская кровля',
      [
        'Резитрикс',
        'Направляемая гидроизляция',
        'Мембранная кровля',
      ],
    ],
    [
      'Конструкция пирога кровли',
      [
        'Стропильная система',
        'Паро, гидроизоляционная пленка',
        'Монтаж обрешетки',
        'Утепление',
        'Монтаж фанеры',
      ],
    ],
  ];
