.contacts__nest {
  &--tel {
    margin-bottom: 24px;
  }

  &--emails {
    padding-left: 30px;
    margin-bottom: 24px;
  }

  &--address {
    padding-left: 30px;
  }

  &--map {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 240px;
    margin-top: 32px;
  }

  @media (min-width: $xl-min-width) {
    &--tel {
      width: 100%;
      margin-bottom: 78px;
    }

    &--emails {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 300px;
      margin-bottom: 0;
      margin-right: 24px;
    }

    &--address {
      display: flex;
      align-items: center;
      width: 300px;
    }

    &--map {
      height: 408px;
      margin-top: 80px;
    }
  }
}
