.contacts__nest {
  &--tel {
    margin-bottom: 24px;
  }

  &--emails {
    margin-bottom: 24px;
  }

  &--map {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 240px;
    margin-top: 32px;
  }

  @include media-breakpoint-up(md) {
    &--tel {
      width: 100%;
      margin-bottom: 48px;
    }

    &--emails {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 300px;
      margin-bottom: 0;
      margin-right: 24px;
    }

    &--address {
      display: flex;
      align-items: center;
      width: 300px;
    }
  }

  @include media-breakpoint-up(lg) {
    &--emails {
      width: 50%;
      margin-right: 0;
    }

    &--address {
      width: 50%;
    }
  }

  @include media-breakpoint-up(xl) {
    &--tel {
      margin-bottom: 78px;
    }

    &--map {
      position: static;
      height: 300px;
      margin-top: 80px;
    }
  }

  @include media-breakpoint-up(xxl) {
    &--emails {
      width: 300px;
      margin-right: 24px;
    }

    &--address {
      width: 300px;
    }

    &--map {
      height: 408px;
    }
  }
}
