.contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up(md) {
    @include padding-hor(15px);
    flex-flow: row wrap;
    align-items: stretch;
  }

  @include media-breakpoint-up(xl) {
    @include padding-hor(0);
  }
}
