#{$this}__box {
  @mixin item-size($breakpoint-name) {
    $base-width: get-gallery-base-width($breakpoint-name);
    $height-outermost: $base-width;
    $height-middle: $base-width * get-gallery-coefficient(main);

    width: $base-width;

    @for $i from 1 through 4 {
      #{$this}--#{$i} & {
        height: if(index((2, 3), $i) == null, $height-outermost, $height-middle);
      }
    }
  }

  @include item-size(xs);

  &--pictures {
    margin-bottom: 24px;
  }

  @include media-breakpoint-up(lg) {
    @include item-size(lg);
  }

  @include media-breakpoint-up(xxl) {
    @include item-size(xxl);

    &--pictures {
      margin-bottom: 28px;
    }
  }
}
