.intro__nest {
  &--content {
    @include padding-hor(30px);
  }

  &--paginator {
    @include padding-hor(15px);
    height: 16px;
    margin-bottom: 30px;
  }

  @media (min-width: $xl-min-width) {
    &--content {
      padding-left: 26px;
      padding-right: 0;
    }

    &--paginator {
      @include padding-hor(0);
    }
  }
}
