.intro__toggle {
  position: relative;
  z-index: 0;
  width: calc(100% * 462 / 736);
  height: 100%;
  margin-left: auto;
  padding: 0;
  border-style: none;
  background-color: $gray-air;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 20px;
  }

  @media (min-width: $xl-min-width) {
    &::before {
      height: 40px;
    }
  }
}
