.price__list {
  @media (min-width: $xl-min-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 24px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border-top: 2px solid $coral;
  }
}
