.price__string {
  &--colored {
    color: $coral;
  }

  &--small {
    font-size: 16px;
    color: $gray-light;
  }

  @media (min-width: $xl-min-width) {
    &--small {
      font-size: 24px;
    }
  }
}
