.gallery-item__box {
  @mixin gallery-item-size($base-width) {
    $height-outermost: $base-width;
    $height-middle: $base-width * $g-gallery-main-coefficient;

    width: $base-width;

    @for $i from 1 through 4 {
      .gallery-item--#{$i} & {
        height: if(index((2, 3), $i) == null, $height-outermost, $height-middle);
      }
    }
  }

  @include gallery-item-size($gallery-base-width-xs);

  &--pictures {
    margin-bottom: 24px;
  }

  @include media-breakpoint-up(lg) {
    @include gallery-item-size($gallery-base-width-lg);
  }

  @include media-breakpoint-up(xxl) {
    @include gallery-item-size($gallery-base-width-xxl);

    &--pictures {
      margin-bottom: 28px;
    }
  }
}
