.gallery-item__pictures {
  width: 290px;
  margin-bottom: 28px;

  .gallery-item--1 & {
    height: 290px;
  }

  .gallery-item--2 & {
    height: calc(290px * 408 / 624);
  }

  .gallery-item--3 & {
    height: calc(290px * 408 / 624);
  }

  .gallery-item--4 & {
    height: 290px;
  }

  @media (min-width: $xl-min-width) {
    width: 624px;
    margin-bottom: 28px;

    .gallery-item--1 & {
      height: 624px;
    }

    .gallery-item--2 & {
      height: 408px;
    }

    .gallery-item--3 & {
      height: 408px;
    }

    .gallery-item--4 & {
      height: 624px;
    }
  }
}
