extends ../base/_template_html

block page-id
  - const pageId = 'about';

block page-main__mutable
  .about
    -
      const ABOUT_PARAGRAPHS = [
        'Компания “Руфсистем” основана в 2017 году. Компания занимается профессиональным монтажом кровель, кровельных систем и фасадов. На наш взгляд, от строительной фирмы требуется не так уж и много. Изучить техническую документацию, найти общий язык с заказчиком, мобилизовать профессиональных рабочих, создать условия для выполнения работ и сделать их в срок.',
        'Нам платят деньги, не просто за выполнение работ по проекту, но и за отсутствие головной боли как в процессе строительства, так и последующей эксплуатации кровли или фасада. Все возможные проблемы мы пытаемся решить еще на этапе обсуждения технического задания. Мы не идем на поводу у заказчика, который предлагает неграмотные, ошибочные технические решения, мы не создаем мин замедленного действия.',
        'Мы уверены, что любые строительные работы должны выполняться профессионалами, которые понимают цели и задачи заказчика, его представление о конечном продукте.',
        'Мы не та компания, которая обещает самую низкую цену или кратчайшие сроки, мы просто делаем качественно.',
      ];
    .about__container
      h2.about__heading #[span.about__string 12 лет] на рынке
      .about__textblock
        each paragraph, index in ABOUT_PARAGRAPHS
          p.s-text(class=setLastModifier('about__paragraph', ABOUT_PARAGRAPHS, index))= paragraph
