extends ../base/_template_page-main--inner.pug

block page-id
  - const pageId = 'gallery';

block head_Scripts
  link(
    rel='preload',
    href='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js',
    as='script',
  )
  link(rel='preload', href='js/slick.js', as='script')
block page-main__mutable
  +gallery()
block page_Scripts-distinct
  script.
    'use strict';
    window.jQuery || document.write('<script src="js/jquery-3.3.1.js"><\/script>');
  script(src='js/slick.js')
  script(src='js/gallery-item.js')
  script(src='js/lightbox.js')
