.navigation-item {
  @include media-breakpoint-down(md) {
    font-size: 24px;
    text-transform: uppercase;
  }

  @media (min-width: $xl-min-width) {
    padding-bottom: 21px;
    font-size: 18px;
    color: $gray-dark;

    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 8px;
        height: 4px;
        background-color: $gray-dark;
      }
    }
  }
}
