.navigation-item {
  padding-bottom: 21px;
  font-size: 18px;
  color: $gray-dark;

  &--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 8px;
      height: 4px;
      background-color: $gray-dark;
    }
  }
}
