/* Root custom properties */

:root {
  --gallery-base-image-width: #{$g-gallery-base-width-xs};

  @include media-breakpoint-up(lg) {
    --gallery-base-image-width: #{$g-gallery-base-width-lg};
  }

  @include media-breakpoint-up(xxl) {
    --gallery-base-image-width: #{$g-gallery-base-width-xxl};
  }
}
