.page-footer__inner-wrapper {
  display: flex;
  justify-content: center;

  @include media-breakpoint-up(md) {
    @include padding-hor(15px);
  }

  @include media-breakpoint-up(xxl) {
    @include padding-hor(0);
    display: block;
  }
}
