#{$this}__nest {
  &--logo {
    align-self: center;
  }

  &--tel {
    align-self: center;
  }

  &--button {
    align-self: center;
  }

  @include media-breakpoint-down(md) {
    &--navigation {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: none;

      .is-navigation-shown & {
        display: block;
      }
    }

    @include media-breakpoint-up(sm) {
      &--navigation {
        right: 72px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &--navigation {
      align-self: stretch;
      margin-top: 18px;
    }

    &--tel {
      align-self: stretch;
      margin-top: 18px;
    }

    &--button {
      display: none;
    }
  }

  @include media-breakpoint-up(xxl) {
    &--logo {
      align-self: stretch;
      margin-top: 12px;
      margin-right: 720px;
    }

    &--navigation {
      width: 493px;
      margin-top: 30px;
      margin-bottom: 11px;
    }

    &--tel {
      align-self: stretch;
      position: static;
      flex: 0 1 auto;
      width: auto;
      margin-top: 28px;
      margin-bottom: 32px;
      margin-left: auto;
      padding-right: 0;
      padding-left: 0;
    }
  }
}
