.tel__link {
  color: $gray-dark;

  .tel--small & {
    font-weight: 700;
    font-size: 18px;
  }

  .tel--large & {
    font-size: 32px;
    letter-spacing: 0.03em;
  }

  @include media-breakpoint-down(md) {
    .tel-small & {
      font-size: 20px;
    }
  }

  @media (min-width: $xl-min-width) {
    .tel--large & {
      font-size: 64px;
      line-height: 72px;
      letter-spacing: 0.03em;
    }
  }
}
