.tel__link {
  @media (min-width: $xl-min-width) {
    color: $gray-dark;

    .tel--small & {
      font-weight: 700;
      font-size: 20px;
    }

    .tel--large & {
      @include large-text();
    }
  }
}
