.gallery__list {
  @include list();
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $xl-min-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:
      496px
      minmax(408px, auto)
      minmax(280px, auto)
      minmax(720px, auto);
    align-items: stretch;
  }
}
