include ../components/capital/gallery/_mx_gallery.pug
include ../components/capital/gallery-item/_mx_gallery-item.pug
include ../components/capital/page-main/_mx_page-main.pug
include ../components/capital/paginator/_mx_paginator.pug
include ../components/capital/price/_mx_price.pug
include ../components/capital/price-item/_mx_price-item.pug
include ../components/capital/price-review/_mx_price-review.pug
include ../components/capital/service-preview/_mx_service-preview.pug
include ../components/capital/tel/_mx_tel.pug
