include ../components/capital/page-main/_m_page-main__wrapper.pug
include ../components/capital/paginator/_m_paginator.pug
include ../components/capital/tel/_m_tel.pug
include ../components/capital/price-item/_m_price-item.pug
include ../components/capital/price-review/_m_price-review.pug
