include ../global/data/_d_site
include ../global/data/_d_pages

block page-id

- const pageTitle = PAGES[pageId];

include ../global/data/_d_components
include _import_functions
include _import_mixins

doctype html
html(lang='ru')
  include ../global/head/_head
  body(class=setModifiers('page', [pageId]))
    .page__container
    script(src='js/picturefill.js')
