#{$this}__link {
  $link-modifiers: (about, gallery, price,);

  align-self: center;
  position: relative;
  z-index: 0;
  width: 290px;
  padding-left: 66px;
  padding-right: 14px;
  font-size: 18px;
  line-height: 48px;
  color: $color-gray-dark;

  &::before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 6px;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 14px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 8px;
    background-color: $color-coral;
  }

  @each $modifier in $link-modifiers {
    &--#{$modifier} {
      &::before {
        background-image: url("../img/titlebar__link--#{$modifier}.svg");
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &--1 {
      margin-right: 40px;
    }
  }


  @include media-breakpoint-up(xl) {
    width: auto;
    font-size: 24px;
    line-height: 72px;

    &::before {
      bottom: 18px;
    }

    &::after {
      bottom: 23px;
    }

    &--1 {
      margin-right: 0;
    }

    @include media-breakpoint-down(xl) {
      #{$this}--narrow-xl & {
        align-self: flex-start;
        width: 100%;
      }
    }
  }
}
