.#{$this}__stable {
  margin-bottom: 56px;

  @include media-breakpoint-up(xl) {
    @include padding-hor(30px);
    flex: 0 0 auto;
    margin-bottom: 0;

    .#{$this}--index & {
      width: 55%;
      margin-right: auto;
    }

    .#{$this}--about & {
      width: 55%;
    }

    .#{$this}--gallery & {
      grid-area: 1 / 1 / 2 / 3;
      margin-top: 160px;
      padding-right: 0;
    }

    .#{$this}--price & {
      width: 35%;
      margin-right: auto;
      padding-right: 0;
    }

    .#{$this}--contacts & {
      width: 50%;
      margin-right: auto;
      padding-right: 0;
    }
  }

  @include media-breakpoint-up(xxl) {
    @include padding-hor(0);

    .#{$this}--index & {
      width: 720px;
    }

    .#{$this}--about & {
      width: 606px;
      margin-right: 204px;
    }

    .#{$this}--gallery & {
      margin-top: 207px;
    }

    .#{$this}--price & {
      width: 604px;
      margin-right: auto;
    }

    .#{$this}--contacts & {
      width: 606px;
    }
  }
}
