#{$this}__mutable {
  @include media-breakpoint-up(xl) {
    flex: 0 0 auto;

    #{$this}--index & {
      width: 45%;
      margin-top: 156px;
    }

    #{$this}--about & {
      width: 45%;
    }

    #{$this}--gallery & {
      @include padding-hor(0);
      grid-area: 1 / 2 / 2 / 4;
      margin-top: 80px;
    }

    #{$this}--price & {
      width: 60%;
      padding-left: 0;
      padding-right: 30px;
    }

    #{$this}--contacts & {
      width: 45%;
      padding-left: 0;
      padding-right: 30px;
    }
  }

  @include media-breakpoint-up(xxl) {
    #{$this}--index & {
      width: 788px;
      margin-top: 256px;
    }

    #{$this}--about & {
      width: 600px;
    }

    #{$this}--gallery & {
      margin-top: 134px;
    }

    #{$this}--price & {
      width: 786px;
    }

    #{$this}--contacts & {
      width: 784px;
    }
  }
}
