.page-main {
  flex-grow: 1;
  background-color: $gray-bg;
  background-position-y: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/page-main@1920.png");

  &--index {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    background-image: none;
  }

  &--about {
    background-image: url("../img/page-main--about@1920.png");
  }

  @media (min-width: $xl-min-width) {
    background-size: 100% auto;
  }
}
