.page-main__stable {
  margin-bottom: 56px;

  @include media-breakpoint-up(xl) {
    @include padding-hor(30px);
    flex: 0 0 auto;
    margin-bottom: 0;

    .page-main--index & {
      width: 55%;
      margin-top: 120px;
      margin-right: auto;
    }

    .page-main--about & {
      width: 55%;
    }

    .page-main--price & {
      width: 35%;
      margin-right: auto;
      padding-right: 0;
    }

    .page-main--contacts & {
      width: 50%;
      margin-right: auto;
      padding-right: 0;
    }
  }

  @include media-breakpoint-up(xxl) {
    @include padding-hor(0);

    .page-main--index & {
      width: 720px;
      margin-top: 159px;
    }

    .page-main--about & {
      width: 606px;
      margin-right: 204px;
    }

    .page-main--gallery & {
      grid-area: 1 / 1 / 2 / 3;
      margin-top: 207px;
    }

    .page-main--price & {
      width: 604px;
      margin-right: auto;
    }

    .page-main--contacts & {
      width: 606px;
    }
  }
}
