.page-main__container {
  padding-top: 32px;
  padding-bottom: 160px;

  @include media-breakpoint-up(sm) {
    padding-bottom: 180px;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 200px;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 280px;
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    padding-top: 0;

    .page-main--index & {
      padding-bottom: 320px;
    }

    .page-main--about & {
      padding-top: 120px;
      padding-bottom: 360px;
    }
  }

  @include media-breakpoint-up(xxl) {
    .page-main--index & {
      padding-bottom: 440px;
    }

    .page-main--about & {
      padding-top: 207px;
      padding-bottom: 430px;
    }

    .page-main--gallery & {
      display: grid;
      grid-template: 1fr / 494px 110px 1fr;
      justify-content: start;
      width: auto;
      padding-bottom: 578px;
    }

    .page-main--price & {
      padding-bottom: 474px;
    }

    .page-main--contacts & {
      padding-top: 207px;
      padding-bottom: 663px;
    }
  }
}
