.page-main__wrapper {
  flex-grow: 1;
  background-color: $gray-bg;
  background-position-y: bottom;
  background-repeat: no-repeat;

  &--1 {
    background-image: url("../img/page-main@1920.png");

    .is-slide-2-shown & {
      display: none;
    }
  }

  &--2 {
    background-image: url("../img/page-main--index@1920.png");

    .is-slide-1-shown & {
      display: none;
    }
  }
}
