.page-main {
  flex-grow: 1;
  background-color: $gray-bg;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-image: url("../img/page-main@1920.png");

  &--index {
    background-image: none;
  }

  &--about {
    background-image: url("../img/page-main--about@1920.png");
  }
}
