.page-main__mutable {
  @include media-breakpoint-up(xl) {
    flex: 0 0 auto;

    .page-main--index & {
      width: 45%;
      margin-top: 156px;
    }

    .page-main--about & {
      width: 45%;
    }

    .page-main--gallery & {
      @include padding-hor(0);
      grid-area: 1 / 2 / 2 / 4;
      margin-top: 80px;
    }

    .page-main--price & {
      width: 60%;
      padding-left: 0;
      padding-right: 30px;
    }

    .page-main--contacts & {
      width: 45%;
      padding-left: 0;
      padding-right: 30px;
    }
  }

  @include media-breakpoint-up(xxl) {
    .page-main--index & {
      width: 788px;
      margin-top: 256px;
    }

    .page-main--about & {
      width: 600px;
    }

    .page-main--gallery & {
      margin-top: 134px;
    }

    .page-main--price & {
      width: 786px;
    }

    .page-main--contacts & {
      width: 784px;
    }
  }
}
