.page-main__stable {
  margin-bottom: 48px;

  @media (min-width: $xl-min-width) {
    flex-shrink: 0;
    margin-bottom: 0;

    .page-main--index & {
      width: 720px;
      margin-top: 159px;
      margin-right: auto;
    }

    .page-main--about & {
      width: 606px;
      margin-right: 204px;
    }

    .page-main--gallery & {
      grid-area: 1 / 1 / 2 / 3;
      margin-top: 207px;
    }

    .page-main--price & {
      width: 604px;
      margin-top: 207px;
      margin-right: auto;
    }

    .page-main--contacts & {
      width: 606px;
      margin-right: auto;
    }
  }
}
